html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

.app {
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  color: #38bdf8;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}
.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-size: 60px;
  color: #38bdf8;
}

.hero h2 {
  margin-top: 10px;
  color: #cbd5e1;
}

.hero p {
  margin-top: 20px;
  line-height: 1.7;
  color: #94a3b8;
}

.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.buttons button {
  margin: 10px;
}

section {
  margin-top: 60px;
}

section h2 {
  margin-bottom: 20px;
  color: #38bdf8;
}

.card {
  background: #1e293b;
  padding: 25px;
  border-radius: 15px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.skills span {
  background: #2563eb;
  padding: 12px 20px;
  border-radius: 25px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.project-card {
  background: #1e293b;
  padding: 25px;
  border-radius: 15px;
  transition: 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card h3 {
  color: #38bdf8;
}

.project-card p {
  margin-top: 15px;
  color: #cbd5e1;
  line-height: 1.6;
}

.project-card h4 {
  margin-top: 20px;
}

input,
textarea {
  width: 100%;
  padding: 14px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  background: #334155;
  color: white;
}

textarea {
  height: 120px;
}
button {
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #38bdf8, #2563eb);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 8px;
}

button:hover {
  background: #0ea5e9;
  transform: scale(1.05);
  opacity: 0.9;
}
.hero,
.card,
.project-card,
.skills span {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card:hover,
.project-card:hover {
  transform: translateY(-8px);
  transition: 0.3s;
}